body {
  background: #CEC7B1 !important;
}

.App {
  text-align: center;
}

.App-logo {
  position: relative;
  top: 0;
  max-height: 65px;
  max-width: 200px;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 10px;
}

.App-link {
  color: #61dafb;
}

#quote {
  color: white;
  padding-top: 10px;
}

.display-4 {
  font-family: "Trebuchet MS", Arial, sans-serif !important;
}

.name-input {
  color: black;
}

Label {
  color: black !important;
  font-weight: bold !important;
}

Form {
  position: relative;
  top: 30px;
}

.purpleBtn, .greenBtn {
  position: relative;
  top: 50px;
  width: 200px;
  font-weight: bold;
}

.container {
  position: relative;
}

/* Custom css styles */

.navbar .container .navbar-menu .navbar-end .navbar-item .buttons .is-info {

  background-color: #61dafb !important;
  text-decoration: none !important;
  font-weight: bold !important;
  color: black !important;
  width: 150px !important;
}

.navbar .container .navbar-menu .navbar-end .navbar-item .buttons .is-success {
  background-color: #92D050 !important;
  text-decoration: none !important;
  font-weight: bold !important;
  color: black !important;
  width: 150px !important;
}

.navbar .container .navbar-menu .navbar-end .navbar-item .buttons .is-danger {
  background-color: #ff0066 !important;
  text-decoration: none !important;
  font-weight: bold !important;
  color: white !important;
  width: 150px !important;
}

Modal {
  height: 100vh;
}

/** @media only screen and (max-width: 300px) {

  .registerBtn {
     position: relative;
     top: 10px;
  }
} 
*/